# Dependencies of the trt library (Usage in brackets)
# These are more or less the same dependenices that get installed during python setup.py install
# (expect for mypy, flake8 and pytest)

# modeling and math
torch>=1.8.0 # (Tensor operations and neural network components)
einops>=0.3.0 # (Einstein operators for PyTorch)
numpy>=1.19.0 # (General purpose math operations)
tokenizers>=0.10.0 # (Fast tokenizer implementations)

# configuration
pyyaml>=5.4.0 # (Reading and writing yaml config files)

# data
lmdb>=1.1.0 # (Fast Database to store large datasets)
msgpack>=1.0.0 # (Data (de-)serialization into LMDB)

# utils
tensorboard>=2.8.0 # (Tensorboard logging)
gputil>=1.4.0 # (GPU Usage statistics)
editdistance>=0.5.0 # (Fast edit distance implementation)
tqdm>=4.49.0 # (Progress bars)

# code style checks
flake8>=3.8.0 # (Code style and formatting)
flake8-import-order>=0.18.0 # (Plugin for flake8)
flake8-print>=4.0.0 # (Plugin for flake8)
mypy>=0.900 # (Static type checking)

# testing
pytest>=6.2.0 # (Unit testing)
pytest-xdist>=2.2.0 # (Plugin to run pytest in parallel)
